body{ font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

#experiencia{ margin-top: 50px; }
#experiencia ul{ list-style: none; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
#experiencia ul li{ padding-left: 180px; background: url('../img/fotos/Sebastian-argentina.jpg') no-repeat; height: 110px; margin-bottom: 60px; font-size: 16px}
#experiencia ul li.pedro{ background: url('../img/fotos/FoPedro-Teran-bolivia-mini.jpg') no-repeat;}
#experiencia ul li.amanda{ background: url('../img/fotos/Amanda_rodriguez-mini.jpg') no-repeat;}
#experiencia ul li.jorge{ background: url('../img/fotos/jorge-bejarano-colombia-mini.jpg') no-repeat;}
#experiencia ul li.elias{ background: url('../img/fotos/Elias-Castro-Soto-mini.jpg') no-repeat;}
#experiencia ul li.duni{ background: url('../img/fotos/Dunieska-Castaneda-cuba-mini.jpg') no-repeat;}
#experiencia ul li.felipe{ background: url('../img/fotos/felipe-pena-chime-mini.jpg') no-repeat;}
#experiencia ul li.pablo{ background: url('../img/fotos/Escandon-ecuador-mini.jpg') no-repeat;}
#experiencia ul li.german{ background: url('../img/fotos/German-Hernandez-mini.jpg') no-repeat;}
#experiencia ul li.anxo{ background: url('../img/fotos/Antxo_Armada-mini.jpg') no-repeat;}
#experiencia ul li.daniel{ background: url('../img/fotos/Daniel-Monroy-mini.jpg') no-repeat;}
#experiencia ul li.didier{ background: url('../img/fotos/cabrera-honduras-mini.jpg') no-repeat;}
#experiencia ul li.aldo{ background: url('../img/fotos/aldo-arce-mini.jpg') no-repeat;}
#experiencia ul li.mario{ background: url('../img/fotos/Mario-Martz-nicaragua-mini.jpg') no-repeat;}
#experiencia ul li.elmer{ background: url('../img/fotos/Elmer-Camarena-mini.jpg') no-repeat;}
#experiencia ul li.alejandro{ background: url('../img/fotos/alejandro-valde-mini.jpg') no-repeat;}
#experiencia ul li.alvaro{ background: url('../img/fotos/Alvaro-Pastor-mini.jpg') no-repeat;}
#experiencia ul li.tiago{ background: url('../img/fotos/Tiago-Albelha-portugal-mini.jpg') no-repeat;}
#experiencia ul li.alejandro-2{ background: url('../img/fotos/Alejandro-Ascuasiati-mini.jpg') no-repeat;}
#experiencia ul li.maria{ background: url('../img/fotos/maria-balsa-uruguay-mini.jpg') no-repeat;}
#experiencia ul li.martin{ background: url('../img/fotos/Martin-Sanchez-mini.jpg') no-repeat;}

#footer{ background-color: #f5f5f5; height: 60px; padding-top: 20px; text-align: center}